@import '~vue-material/dist/vue-material.css';

// Make sidenav component fixed on bigger screens
@media (min-width: 1280px) {
  #main-wrapper {
    padding-left: 304px;
  }

  .md-sidenav-content {
    top: 0;
    pointer-events: auto;
    transform: translate3d(0, 0, 0);
  }
}